<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>		
		<add assembly="PNTZ.Mufta.TPCApp" />
	</extensions>

	<!-- Цели (targets) для вывода логов -->
	<targets>
		<!-- Логирование в файл -->
		<target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log"
				layout="${longdate} ; ${level:uppercase=true} ; ${exception:format=ToString} ; ${message} "			
			/>
	</targets>

	<!-- Правила логирования -->
	<rules>
		<!-- Все логи уровня Debug и выше будут записаны в файл и консоль -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>