<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<!-- Логирование в AppData\Local -->
		<target name="logfile" xsi:type="File"
				fileName="${specialfolder:folder=LocalApplicationData}/PNTZ.Mufta.TPCApp/logs/${shortdate}.log"
				layout="${longdate} ; ${level:uppercase=true} ; ${exception:format=ToString} ; ${message} "
		/>

		<!-- Логирование в ProgramData -->
		<target name="logfile_common" xsi:type="File"
				fileName="${specialfolder:folder=CommonApplicationData}/PNTZ.Mufta.TPCApp/logs/${shortdate}.log"
				layout="${longdate} ; ${level:uppercase=true} ; ${exception:format=ToString} ; ${message} "
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,logfile_common" />
	</rules>
</nlog>